<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-config" content="/browserconfig.xml"/>
		<meta name="msapplication-TileColor" content="#261B43">
		<meta name="theme-color" content="#261B43">
		<meta name="description" content="Die Absolventinnen im Studiengang Kommunikationsdesign des Wintersemesters 2021/2022 stellen ihre Arbeiten vor."/>
		<meta property="og:image" content="/images/og-image-banner.jpg"/>
		<meta property="og:image:width" content="1200"/>
		<meta property="og:image:height" content="630"/>
		<meta property="og:site_name" content="Slinkity"/>
		<meta property="og:title"/>
		<meta property="og:description" content="Die Absolventinnen im Studiengang Kommunikationsdesign des Wintersemesters 2021/2022 stellen ihre Arbeiten vor."/>
		<link rel="stylesheet" href="https://use.typekit.net/ltv2twx.css">
		<link rel="stylesheet" href="/@root/styles/styles.scss">
		{{ __slinkity.head | safe }}
		<title>{{ title }}
			{% if page.url != '/' -%}
			&nbsp;— TIME TO SHINE — Werkschau Wiesbaden
		{%- endif %}
		</title>
	</head>
	<body class="{{ bodyClass }}">
		<header class="site-header">
			<a href="/" class="logo-header desktop-only">
				{% if not bodyClass.includes('no-logo') %}
					{% image "src/img/logo.svg",
					"",
					"" %}
					{% image "src/img/key-visual-blur-min.png", "", "120px" %}
				{% endif %}
			</a>
			{% if bodyClass.includes('absolvent-in') %}
				<a href="javascript:history.back()" class="arrow-back">
					{% image "src/img/icon/arrowleft.svg",
					"",
					"" %}
				</a>
			{% endif %}
			<label for="menu-toggle" class="circle"></label>
			{% if not bodyClass.includes('no-title') %}
				<h1 class="page-title">{{ title }}</h1>
			{% endif %}
			<input type="checkbox" id="menu-toggle" class="hidden-toggle" aria-hidden="aria-hidden">
			<div class="nav-container">
				<div class="sponsors desktop-only">
					{% image "src/img/sponsor/hsrm_dark.png", "Logo der Hochschule RheinMain", "(min-width: 1024px) 20vh, 40vw" %}
					{% image "src/img/sponsor/werkschau_dark.png", "Logo der Werkschau Wiesbaden", "(min-width: 1024px) 20vh, 40vw" %}
					{% image "src/img/sponsor/bernhardtstiftung_dark.png", "Logo der Bernhardtstiftung", "(min-width: 1024px) 20vh, 40vw" %}
					{% image "src/img/sponsor/seglogo_dark.png", "Logo der SEG", "(min-width: 1024px) 20vh, 40vw" %}
				</div>
				<div class="bg">
					{% image "src/img/key-visual-blur-min.png", "", "100vh" %}
				</div>
				<label for="menu-toggle">
					{% image "src/img/icon/close.svg",
					"",
					"" %}
				</label>
				<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/absolventinnen">absolventinnen</a>
						</li>
						<li>
							<a href="/projekte">Projekte</a>
						</li>
						<li>
							<a href="https://www.instagram.com/werkschauwiesbaden/" target="_blank" rel="noopener noreferrer">Instagram</a>
						</li>
						<li>
							<a href="/archiv">Archiv</a>
						</li>
					</ul>
				</nav>
				<footer class="site-footer site-footer-index desktop-only">
					<a href="/datenschutz">
							Datenschutz
					</a> —
					<a href="/impressum">
						Impressum
					</a>
				</footer>
			</div>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<footer class="site-footer wrapper">
			<a href="/datenschutz">
				Datenschutz
			</a> —
			<a href="/impressum">
				Impressum
			</a>
		</footer>
	</body>
</html>