---
title: TIME TO SHINE — Werkschau Wiesbaden
layout: layout
---

<div class="index-container">
	<div class="sponsors">
		{% image "src/img/sponsor/hsrm.png", "Logo der Hochschule RheinMain", "(min-width: 1024px) 20vh, 40vw" %}
		{% image "src/img/sponsor/werkschau.png", "Logo der Werkschau Wiesbaden", "(min-width: 1024px) 20vh, 40vw" %}
		{% image "src/img/sponsor/bernhardtstiftung.png", "Logo der Bernhardtstiftung", "(min-width: 1024px) 20vh, 40vw" %}
		{% image "src/img/sponsor/seglogo.png", "Logo der SEG", "(min-width: 1024px) 20vh, 40vw" %}
	</div>
	<div class="sponsors">
		{% image "src/img/sponsor/hsrm.png", "", "(min-width: 1024px) 20vh, 40vw" %}
		{% image "src/img/sponsor/werkschau.png", "", "(min-width: 1024px) 20vh, 40vw" %}
		{% image "src/img/sponsor/bernhardtstiftung.png", "", "(min-width: 1024px) 20vh, 40vw" %}
		{% image "src/img/sponsor/seglogo.png", "", "(min-width: 1024px) 20vh, 40vw" %}
	</div>
	<div class="key-visual">{% image "src/img/key-visual.png", "", "(min-width: 1024px) 50vw, 100vw" %}</div>
		<div class="content">
			<div class="logo">{% image "src/img/logo.svg", "", "(min-width: 1024px) 50vw, 100vw" %}</div>
			<div class="text">
				<h1>Werkschau</h1>
				<h2>
					Kommunikationsdesign<br>
					Wintersemester 21/22
				</h2>
					<p class="desktop-only">
						Lange war es dunkel in der Kleinen Schwalbacher Straße. Seit gefühlt hunderten Jahren hat kein Mensch hier mehr eine Werkschau gesehen. Dunkle Efeuranken und wilde Dornbüsche erobern das mystische Gebäude. Doch plötzlich: Licht scheint nach außen.
					</p>
					<p class="desktop-only">
						Eine echte Ausstellung? Ja, eine echte Ausstellung! Die Werkschau kehrt zurück, um einen besonderen Augenblick im Studium zu beleuchten: It is … <br>
						TIME TO SHINE
					</p>
					<p class="desktop-only">Wir richten die Scheinwerfer auf insgesamt 32 Projekte von 36 Absolvent:innen aus dem Wintersemester 21-22. Das Spektrum reicht vom gebundenen Buch bis hin zur crossmedialen Rauminstallation. Aus den Bereichen Print, Bewegtbild, Interactive, Augmented Reality und mehr ist alles vertreten und wird auf fünf Stockwerken ausgestellt. Unter der Leitung von Prof. Dr. Theo Steiner und Prof. Börries Müller-Büsching werden die Abschlussarbeiten kuratiert und dokumentiert. </p>
			</div>
		</div>
		<div class="timecard-container">
			<div class="timecard wrapper">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ratione modi repellendus illo magnam similique numquam error eos, ipsum corrupti in porro expedita? Molestias, id maiores dignissimos magni necessitatibus culpa?
			</div>
		</div>
</div>