.archiv-container {
	padding: 12rem $padding-large $padding-large;

	span {
		font-weight: bold;
	}

	.wrapper {
		display: grid;
		grid-gap: $padding-medium;

		@media screen and (min-width: 720px) and (max-width: 1023px){
			grid-template-columns: repeat(2, 1fr);
		}

		@include r(1024) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}