.index-container, .absolventin-head {
	background-attachment: fixed;
	background: var(--gradient-linear);
	background-size: contain;
	background-attachment: fixed;
	color: rgba($color: #fff, $alpha: 0.7);
	min-height: 100vh;
	width: 100%;
	height: auto;
	display: grid;
	position: relative;
	align-content: start;
	padding: $padding-large;
	grid-template-columns: 1fr;
	grid-template-areas:
		'content'
		'sponsors';

	.content {
		position: fixed;
		display: grid;
		grid-area: content;
		height: calc(100vh - $padding-big);
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			'logo'
			'_'
			'text';

		@include r(1024) {
			position: relative;
			height: auto;
		}

		.text {
			z-index: 10;
			margin-top: 8rem;
			font-size: 75%;
			grid-area: text;

			@include r(640) {
				font-size: 100%;
			}
		}
	}

	.logo {
		max-width: 20rem;
		width: 40vw;
		grid-area: logo;
		position: fixed;
	}


	.key-visual {
		// mix-blend-mode: screen;

		// position: fixed;
		z-index: 5;

		&-menu {
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			filter: blur(20px);
			transition: opacity 0.5s ease-in-out, filter 0.4s ease-out;
			position: fixed;
			top: 42%;
			left: 47%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			width: 10rem;
			height: 10rem;
			text-transform: uppercase;
			border: none;
			color: #fff;
			letter-spacing: 0.2em;
			background: rgba($color: #fff, $alpha: 0.2);
			cursor: pointer;
		}

		&:hover {
			.key-visual-menu {
				opacity: 1;
				filter: none;
			}
		}

		img {
			position: fixed;
			// position: absolute;
			top: 40vh;
			left: 45vw;
			width: auto;
			padding: 5vmin;
			transform: translate(-50%, -50%);
			max-height: 100vh;

			@include r(1024) {
			}
		}
	}

	@include r(1024) {
		padding: 0 5rem;

		.content {
			margin: 10rem auto;
			max-width: $content-max;
			grid-template-columns: 3fr 5fr 3fr;
			grid-template-rows: auto auto;
			grid-template-areas:
				'logo x x'
				'y y text';
		}
	}
}

.sponsors {
	grid-area: sponsors;
	display: grid;
	width: 100%;
	gap: $padding-large;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;

	picture {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;

		img {
			width: 100%;
			height: auto;
		}
	}

	@include r(1024) {
		position: fixed;
		display: flex;
		width: calc(100vh - $padding-large * 2);
		height: 3rem;
		transform-origin: 0 0;
		bottom: 0;
		left: 1rem;
		justify-content: center;
		align-items: center;
		transform: rotate(-90deg);

		.index-container & {
			mix-blend-mode: overlay;
		}

		picture {
			display: block;
			text-align: center;
			margin: 0 $padding-medium;
			height: 2.5rem;

			img {
				display: inline-block;
				max-height: 100%;
				width: auto;
			}
		}
	}
}

#timecard-toggle:checked ~ .timecard-container {
	transform: none;

	.timecard {
		transform: none;
		label {
			img {
				transform: scaleY(-100%);
			}
		}
	}
}

.timecard-container {
	z-index: 10;

	@include r(1024) {
		position: fixed;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		transform: translateY(50%);
		transition: transform 0.5s ease-in-out;
	}
}

.timecard {
	margin-top: 95vh;
	position: relative;
	padding: 5vw;
	background: $teal;
	border-radius: $padding-medium;
	pointer-events: all;

	label {
		display: none;
	}

	> *:not(:last-child) {
		margin-bottom: $padding-large;
	}

	@include r(1024) {
		transform: translateY(35%);
		transition: transform 0.5s ease-in-out;
		margin: $padding-large 5rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
			backdrop-filter: blur(10px);
			background: rgba($color: $teal-rgb, $alpha: 0.85);
			transition: transform 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
		}

		label {
			display: block;
			position: absolute;
			top: 0;
			display: flex;
			width: 100%;
			justify-content: center;
			padding: $padding-medium 12rem $padding-medium $padding-medium;
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;

			img {
				margin-right: $padding-large;
				transition: transform 0.25s ease-in-out;
			}
		}

		> * {
			flex: 1 0 calc(33.3% - $padding-large);
		}
	}


}

.times {
	// font-family: 'omnes-thin';
	display: flex;
	justify-content: space-around;
	color: #fff;
	gap: $padding-medium;

	.col {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: center;
		font-size: 2.4rem;
	}
	.bottom,
	.top {
		text-transform: uppercase;
		font-size: 1rem;
	}
}

.adress {
	color: #fff;
	img {
		margin-bottom: $padding-medium;
	}
}

.rona {
	h2 {
		text-align: right;
	}
}

.index {
	.site-footer {
		@include r(1024) {
			position: fixed;
			font-size: 10px;
			bottom: 0;
			left: 0;
			width: 5rem;
			padding: 1rem;

			a {
				display: block;
				color: rgba($color: #fff, $alpha: 0.7);
			}
		}
	}
}

.index {
	> .site-footer {
		display: none;

		@include r(1024) {
			display: block;
		}
	}
}
