.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: $padding-large;
	background: rgba(#fff, 0.9);
	display: grid;
	justify-content: end;
	pointer-events: none;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'logo circle'
		'_ title';

	> * {
		pointer-events: all;
	}

	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		backdrop-filter: blur(12px);
		background: rgba(#fff, 0.7);
	}

	.page-title {
		text-align: right;
		margin: $padding-medium 0 0 0;
		hyphens: auto;
		grid-area: title;

		@media screen and (max-width: 864px) {
			letter-spacing: .1em;
		}
	}

	.transparent-header & {
		justify-content: flex-end;
		background: none;
		backdrop-filter: none;
	}

	.logo-header {
		width: 6rem;
		margin-right: $padding-large;
		grid-area: logo;
		grid-row: span 2;
		max-height: 100%;
		position: relative;
		justify-self: flex-start;

		> * {
			position: absolute;
			top: 0;
			width: 100%;
			height: auto;
		}

		img,
		picture {
			height: 100%;
			width: auto;
		}
	}
}

.site-footer {
	text-align: center;
	padding: $padding-medium;
}

.m-centered {
	margin-left: auto;
	margin-right: auto;
}
