.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: $padding-large;

	.wrapper {
		display: flex;
		justify-content: flex-end;
	}
}

.m-centered {
	margin-left: auto;
	margin-right: auto;
}