:root{
	--purple: #261B43;
	--black: #1E1726;
	--teal: #02A79C;
	--gradient-single: radial-gradient(59.51% 111.74% at 40.49% 58.56%, #000000 16.25%, #231936 53.15%, var(--purple) 100%);
	--font-heading: 'omnes-thin', -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-text: 'corporate-s', "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--content-max: 1300px;
	--padding-medium: 1rem;
	--padding-large: 2rem;
	--padding-big: 4rem;
}

$purple: var(--purple);
$black: var(--black);
$teal: var(--teal);
$teal-rgb: #02A79C;

$font-text: var(--font-text);
$font-heading: var(--font-heading);

$content-max: var(--content-max);
$padding-medium: var(--padding-medium);
$padding-large: var(--padding-large);
$padding-big: var(--padding-big);